@inject SessionService SessionService
@inject NavigationManager Navigation

@if (Verificando)
{
    <p>Verificando autenticacao...</p>
}
else if (Autenticado)
{
    @ChildContent
}

@code {
    private bool Verificando = true;
    private bool Autenticado;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var email = await SessionService.GetUserEmailAsync();

        if (string.IsNullOrWhiteSpace(email))
        {
            Navigation.NavigateTo("/login", true);
        }
        else
        {
            Autenticado = true;
        }

        Verificando = false;
    }
}
