.dashboard-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

    .dashboard-cards .card {
        flex: 1;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        font-weight: bold;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        text-align: center;
    }

.charts {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
